/*-- scss:defaults --*/
@font-face {
    font-family: 'Fira Code';
    src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
}

// Code blocks
$font-family-monospace: 'Fira Code', monospace;
$code-block-bg-alpha: -.8;